<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <% if (theme.seo.keywords && theme.seo.description){%>
  <meta name="keywords" content="<%=theme.seo.keywords%>">
  <meta name="description" content="<%=theme.seo.description%>">
  <% }%>
  <title><%=config.title%></title>
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
    <!-- stylesheets list from config.yml -->
    <% theme.stylesheets.forEach(function(url) { %>
      <link rel="stylesheet" href="<%=url%>">
    <% }); %>
  <% } %>
    <style type="text/css">
        html,body{
            font-family: sans-serif;
            font-weight: 300;
            background-color: #E9EBEC!important;
        }
        @font-face {
            font-family: 'Material Icons';
            font-style: normal;
            font-weight: 400;
            src: url(/fonts/MaterialIcons-Regular.eot);
            src: url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
            url(/fonts/MaterialIcons-Regular.woff) format('woff'),
            url(/fonts/MaterialIcons-Regular.ttf) format('truetype')
        }
       /* #live2dcanvas{
        width: 120px ;
        height: 240px;
        left: 0;
        bottom: -30px!important;
        }
        #live2dcanvashover{
          width: 100px ;
          height: 200px;
          position: fixed;
          left: 0;
          bottom: 0;
          z-index: 1000;
          cursor: Pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -khtml-user-select: none;
          -ms-user-select: none;
        }
        .statmentarea{
          width: auto;
          height: auto;
          position: fixed;
          bottom: 170px;
          left: 15px;
          z-index: 999;
        }
        .statmentsbox{
          max-width:200px;
          min-width: 120px;
          height:auto;
          min-height: 30px;
          background-color: #ffffff;
          border-radius: 8px;
          box-shadow: 1px 1px 4px #b0b0b0;
          text-align: center;
          padding: 5px;
          display: none;
          margin-bottom: 5px;
        }
          @media only screen and (max-width: 768px){
            #live2dcanvas,#live2dcanvashover{
              width: 80px ;
              height: 160px;
              left: 180px;
            }
            .statmentarea{
              left: 160px;
            }
            .statmentarea{
              bottom: 120px;
            }
          }*/

    </style>
</head>
<body>
<a href="#" data-activates="slide-out"  class="button-collapse"><div class="nav-btn"><i class="material-icons">list</i></div></a>
<div id="menu-outer">
  <div id="menu-inner">
      <%-partial('partials/nav-left')%>
  </div>
</div>

<div id="content-outer">
  <div id="content-inner">
    <%- body %>
  </div>
</div>
<div id="bottom-outer">
  <div id="bottom-inner">
    <%-partial('partials/footer')%>
  </div>
</div>

<% if(page.layout === 'photo') { %>
<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/modernizr.2.5.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/js/templatemo_script.js"></script>
<script type="text/javascript" src="/js/exif.js"></script>
<script type="text/javascript" src="/js/photopage.js"></script>
<script type="text/javascript">
    var boxes=$('.portfolio-item');
    boxes.magnificPopup({
        type: 'image',
        gallery:{
            enabled:true
        }
    });
</script>
<% }%>

<div id="live2dcanvashover"></div>
<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
<!-- scripts list from theme config.yml -->
<% theme.scripts.forEach(function(url) { %>
<script src="<%=url%>"></script>
<% }); %>
<% } %>

<!--影集界面需要的资源-->


<script>
    $(document).pjax('a:not(.nopjax)', '#content-inner', {fragment:'#content-inner', timeout:8000})
    $(document).on('pjax:start', NProgress.start).on('pjax:end', NProgress.done)
        .on('pjax:end', function() {
            dowmdiv();
            $(".lazy").lazyload({
                effect : "fadeIn"
            });
            $(".post-back").click(function () {
                window.history.back();
            });
            var $root = $('html, body');
            $('.post-toc-link').click(function() {
                $root.animate({
                    scrollTop: $( $.attr(this, 'href') ).offset().top
                }, 500);
                return false;
            });
            $(".post-toc-btn").click(function () {
                if($(".post-toc").exist()){
                    $(".post-toc-box").fadeToggle()
                }else {
                    $(".post-toc-none").fadeToggle()
                }
            })
            var links=$(".post-author-link");
            var button=$(".post-author-button");
            button.click(function (){
                if(links.css("display")=== "none"){
                    links.css({
                        "display":"block"
                    }).animate({
                        "right":"60px",
                        "opacity":1
                    },500)
                }else {
                    links.animate({
                        "opacity":0
                    },500)
                    setTimeout(function (){

                        links.css({
                            "display":"none",
                            "right":"100px"
                        })
                    },500)
                }
            })
        })

       /* var throttle = function (fn, delay, atleast) {
        var timer = null,
            previous = null;
        return  () => {
            var now = +new Date();
            if ( !previous ) previous = now;
            if ( atleast && now - previous > atleast ) {
                fn();
                previous = now;
                clearTimeout(timer);
            } else {
                clearTimeout(timer);
                timer = setTimeout(() =>{
                    fn();
                    previous = null;
                }, delay);
            }
        }
    };

    function setTimeoutPro(ms){
        return new Promise((resolve,reject)=>{
            setTimeout(resolve,ms);
        })
    }

    (()=>{

        var statments=["主人你好啊！","主人又跟我玩啦好开心呀~","嘤嘤嘤","主人不要欺负我啦","打你","拿小拳拳捶你胸口","今天又是元气满满的一天呢","在看什么呢","略略略~","(:」∠)_","我最好看啦~","主人~~~","诶嘿嘿","....","好无聊呀","做些什么好呢...","耶耶耶~","大~笨~蛋"],
            statmentsauto=["快来点击我和我聊天吧~","欢迎来这个小站玩啊~","猜猜我叫什么嘿嘿"]
            times=[10000,20000,15000,24000,12000,18000],
            statmentsL=statments.length-1,
            timesL=times.length-1,
            statmentsautoL=statmentsauto.length-1;

        var statmentarea=document.createElement('div');

        statmentarea.className="statmentarea";
        document.body.appendChild(statmentarea);

        $("#live2dcanvashover").click(throttle(()=>{
            var statmentsbox=document.createElement('div');

            statmentsbox.className="statmentsbox";
            statmentsbox.innerHTML=statments[Math.floor(Math.random()*(statmentsL+1))];
            statmentarea.appendChild(statmentsbox);
            $(".statmentsbox").fadeIn(1000)
            setTimeoutPro(1000).then(()=>{
                $(".statmentsbox").fadeOut(1000)
                return setTimeoutPro(1000);
            }).then(()=>{
                statmentarea.removeChild(statmentsbox)
            })
        },300,1000));


        setInterval(()=>{
            if(!statmentarea.hasChildNodes()){
                var statmentsbox=document.createElement('div');

                statmentsbox.className="statmentsbox";
                statmentsbox.innerHTML=statmentsauto[Math.floor(Math.random()*(statmentsautoL+1))]
                statmentarea.appendChild(statmentsbox);
                $(".statmentsbox").fadeIn(1000)
                setTimeoutPro(3000).then(()=>{
                    $(".statmentsbox").fadeOut(1000)
                    return setTimeoutPro(1000);
                }).then(()=>{
                    statmentarea.removeChild(statmentsbox)
                })
            }

        },times[Math.floor(Math.random()*(timesL+1))])

    })()*/
</script>

<% if(theme.visitor) { %>
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<% } %>
</body>
</html>
